.jumbotron{
    background-color: #DBFE87;
    color: black;
}
/*
.btn{
    background-color: lightblue;
}*/

footer{
    padding: 10px 10px 0 10px;
    background-color: #DBFE87;
    margin-bottom: 0;
}

.card-hotel{
    flex: 1 150px;  
    /*Utiliza las propiedades flex-grow (cuanto va a escalar el elemento) y flex-basis que específica cual
    es el ancho o base de ancho definida*/
    padding: 2px 5px 2px 5px;
    /*height: 100%;*/
}

.btn-reserva{
    width: 100%;
}